* {
  font-family: 'Open Sans', sans-serif;
}

body{
	background-color: #fff;
}

p, .navbar-default .navbar-nav>li>a {
  color: #848484;
}

.carousel-caption>p {
  color: #fff;
}

.btn-login {
  margin-left: 44px;
  background-color: #bcda5c;
  border: none;
  border-radius: 16px;
  color: #fff;
}

.btn:focus, .btn:active:focus {
	outline: none;
}

.navbar-wrapper nav {
  font-family: "Open Sans Semibold";
  border: none;
	margin-bottom: 0;
  padding: 20px 0;
  background-color: #fff;
}

.navbar-brand {
  padding: 0 10px 10px 10px;
}

.navbar-brand>img {
  margin: 0 124px;
  /*padding: 0;*/
  height: 100%;
  width: auto;
}

.slide-overlay:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(66,89,72,0.29);
    opacity: 1;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  background-color: #777;
}

.sec-5 {
  height: 470;
}

.footer img {
  margin: 45px 140px 41px auto; 
  margin-right: 140px;
  margin-left: auto;
}